.content {
  max-width: 100%;
  width: 100%;
  padding: 1rem;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.content-header__title {
  font-weight: 600;
}

.product-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product-card {
  max-width: 15rem;
  border: 2px solid $black;
  padding: 0.5rem 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 22rem;
  margin: .5rem;
}

.product-card__img {
  max-height: 15rem;
  max-width: 13rem;
  height: auto;
  margin-bottom: 1rem;
}

.product-card__title {
  margin-bottom: 1rem;
}

.product-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .button-img {
    height: 3rem;
    width: 3rem;
    padding: .5rem;
    margin:  0 .25rem;
  }
}
