@font-face {
  font-family: "Bitter";
  src: url("../fonts/Bitter-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Bitter";
  src: url("../fonts/Bitter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Bitter";
  src: url("../fonts/Bitter-SemiBold.ttf");
  font-weight: 600;
}
