*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Bitter", serif;
}

html {
  font-family: "Bitter", serif;
  font-size: 16px;
}

#root {
  min-height: 100vh;
}

a {
  color: $black;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background-color: $white;
  font-size: 0.875rem;
  cursor: pointer;
}

.button-img {
  height: 1rem;
  width: 1rem;
  img {
    height: 100%;
    width: auto;
  }
}

.container {
  height: 100%;
  width: 100vw;
  display: flex;
}
